body,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    --baby-pink: #fac8cdff;
    --queen-pink: #d7bcc8ff;
    --opal: #98b6b1ff;
    --russian-green: #629677ff;
    --deep-space-sparkle: #495d63ff;
}


.container {
    display: grid;
    grid-template-columns: auto 5fr;
    grid-template-rows: 1fr 7fr;
}

.header {
    grid-column: 2 / 3;
}

/* sidebar */
.sidebar {
    min-width: 200px;
    background-color: var(--russian-green);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    min-height: 100vh;
    color: aliceblue;
    font-weight: bold;

    display: grid;
    gap: 30px;
    grid-template-rows: repeat(3, auto) 1fr;
    padding: 20px;
}

.sidebar .title {
    font-size: x-large;
}

.sidebar img {
    width: clamp(15px, 1rem, 25px);
}

ul {
    list-style: none;
    display: grid;
}

ul li {
    margin-bottom: 5px;
}

/* main body */
.dashboard {
    background-color: var(--opal);
}